<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piping Information</title>
</head>
<body>

    

    <div class="container">

        <div class="bar">
            <p>Piping Information</p>
        </div>
    
     

        <div class="pinfo-container">

            <% for(i = 0;i<info_name.length;i++) { %>

            <div>
                <label for=""><%=info_name[i]%></label>
                <input type="text" name="" id="data<%=i%>" value="<%= objList[i] %>" readonly>
            </div>

            <% } %>
        

        </div>

        <div>
            <button >Edit</button>
            <button onclick="onClickDelete('info',['<%=objList[0]%>','-1','-1','-1'])">Delete</button>
        </div>

    </div>
    
    <script>
        function onClickEdit(table = 'info',args){

        }


        function onClickDelete(table = 'info',args){
            fetch('/api-remove',{
                method:"POST",
                body:JSON.stringify({ 
                    from:table,
                    datalist:args
                }),
                headers:{
                    "Content-Type": "application/json"
                }
            }).then(res=>{
                window.location.href = document.referrer
            })
        }


    </script>

</body>
</html>