html{
    
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: rgb(173, 173, 173);
}

.container{
    background-color: aliceblue;
    margin-block: 50px;
    margin-inline: 200px;
    /* border-bottom: 5px solid rgb(0, 0, 0); */
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.7);
}


.bar{
    color: aliceblue;
    font-weight: 600;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(6, 1, 31);
    width: 100%;
    display: grid;
    grid-template-columns: auto 20%;
}
.bar h1,p{
    margin-left: 20px;
    /* border: 5px solid red; */
    display: inline-block;
    
}

.bar button{
    color: aliceblue;
    margin: 20px;
    background-color: rgb(31, 0, 49);
    border: 1px solid rgb(233, 18, 36) ;
    border-radius: 20px;
}

.bar button:hover{
    background-color: brown;
}


.btnAddPiping{
    margin-block: 5px;
    margin-right: 5px;
    /* border: 1px solid red; */
    
}

.btnAddPiping div{
    display: flex;
    justify-content: end;
}

.btnAddPiping input{
    font-size: larger;
    padding-inline: 20px;
    padding-block: 5px;
    /* border: 1px solid rgb(23, 16, 101); */
}

.tableAllDiv{
    /* border: 2px solid blue; */
    overflow: scroll;
}

.tableAllDiv td,th{
    /* height: 500px; */
    /* width: 500px; */
    /* border: 2px solid rgb(255, 0, 230); */
    /* height: 500px; */
    width: 100%;
}

.tableAllDiv thead{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border: 2px solid rgb(255, 47, 47);
}

.tableAllDiv tbody{
    color: rgb(255, 255, 255);
    background-color: rgb(63, 63, 63);
}

.buttonTableDiv{
    /* border: 2px solid red; */
    display: flex;
}

.buttonTableDiv button{
    margin-inline: 10px;
    padding-inline: 1pc;
    border: 1px solid red;
    border-radius: 10px;
    background-color: rgb(44, 1, 84);
    color: aliceblue;
}

.buttonTableDiv button:hover{
    background-color: red;
}




/* ----------------------------------------------------piping-info--------------------------------------------- */

.pinfo-container{
    font-weight: bolder;


    height: 600px;
    display: grid;
    grid-template-columns: auto auto;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    grid-column-gap: 20px;
}

.pinfo-container label{
    width: 100%;
    /* border: 1px solid red; */
    display: block;
}


/* ------------------------------------- details page ------------------------------------------------ */
.bar-child{
    color: aliceblue;
    font-weight: 600;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(14, 115, 238);
    width: 100%;
    display: grid;
    grid-template-columns: auto 20%;
}


.bar-child div{
    /* background-color:aqua; */
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.bar-child input{
    color: azure;
    background-color:rgb(42, 155, 98);
    
}

.id_show{
    width:auto;
    height: auto;
    border: 2px solid red;
    margin-inline: 50px;
    display: grid;
    grid-template-columns: 80% auto;
}


.pdetails-container{
    margin-inline: 50px;
    margin-block: 10px;
     
}

